<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        [data-notify="progressbar"] {
            margin-bottom: 0px;
            position: absolute;
            bottom: 0px;
            left: 0px;
            width: 100%;
            height: 5px;
        }

        @@import url(http://fonts.googleapis.com/css?family=Old+Standard+TT:400,700);
        
        [data-notify="container"][class*="alert-pastel-"] {
            background-color: rgb(255, 255, 238);
            border-width: 0px;
            border-left: 15px solid rgb(255, 240, 106);
            border-radius: 0px;
            box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.3);
            font-family: /*-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",Arial,*/ 'Old Standard TT', serif;
            letter-spacing: 1px;

        }

        [data-notify="container"].alert-pastel-info {
            border-left-color: rgb(255, 179, 40);
        }

        [data-notify="container"].alert-pastel-danger {
            border-left-color: rgb(255, 103, 76);
        }

        [data-notify="container"][class*="alert-pastel-"] > [data-notify="title"] {
            color: rgb(80, 80, 57);
            display: block;
            font-weight: 700;
            margin-bottom: 5px;
        }

        [data-notify="container"][class*="alert-pastel-"] > [data-x="message"] {
            font-weight: 400;
        }
    </style>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    @* <!-- Font Awesome --> *@
    @* <link rel="stylesheet" href="~/Content/admin/plugins/fontawesome-free/css/all.min.css"> *@
    @* *@
    @* <!-- Theme style --> *@
    @* <link rel="stylesheet" href="~/Content/admin/dist/css/adminlte.min.css"> *@
    @* <link href="~/Content/Site.css" rel="stylesheet"/> *@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/mycss")
    @Scripts.Render("~/bundles/jqueryui")
    
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-footer-fixed layout-navbar-fixed">
<div class="wrapper">

    @Html.Partial("Navbar");
    
    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        @Html.Partial("Sidebar");
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        @RenderBody()

    </div>


    <!-- /.content-wrapper -->
   @Html.Partial("FooterAdmin")

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
@Scripts.Render("~/bundles/modernizr")

@RenderSection("scripts", false)

<!-- jQuery -->
<script src="~/Content/admin/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="~/Content/admin/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>$.widget.bridge('uibutton', $.ui.button)</script>
<!-- Bootstrap 4 -->
<script src="~/Content/admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/Content/admin/plugins/daterangepicker/daterangepicker.js"></script>
<script src="~/Scripts/bootstrap-notify.min.js"></script>
<script src="~/Content/admin/dist/js/adminlte.js"></script>

</body>
</html>