@using NewsWebsite.CommonData
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hít Hà News</title>
    <link rel="icon" href="~/Content/images/hitha-icon.ico" type="image/x-icon"/>
    <link href="~/Content/web/styles.css" rel="stylesheet"/>
    <link href="~/Content/web/web.css" rel="stylesheet"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="@ViewBag.Title"/>
    <meta property="og:description" content="@ViewBag.Description"/>
    <meta property="og:image" content="@ViewBag.Image"/>
    <meta name="Description" content="@ViewBag.Description"/>
    <meta name="keywords" content="@ViewBag.Tag">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:400,600,700" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
    <link href="//fonts.googleapis.com/css?family=Merriweather:400,700%7CDroid+Serif:400,700" rel="stylesheet" type="text/css">
    @* @Scripts.Render("~/bundles/modernizr")*@
    @{
        var data = new GetData();
    }

</head>
<body>
<header>
    <div class="bg-191">
        <div class="container">
            <div class="oflow-hidden color-ash font-9 text-sm-center ptb-sm-5">

                <ul class="float-left list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-10 toplink">
                    <li>
                        <a class="pl-0 pl-sm-10" href="#">Về chúng tôi</a>
                    </li>
                    <li>
                        <a href="#">Liên hệ</a> 
                    </li>
                    @if (Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Admin Panel", "Index", "Admin", null, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "User", null, new { @class = "nav-link" })</li>
                    }
                </ul>
                <div class="d-inline-block float-right mt-2 mr-4">
                    <form action="/tim-kiem" method="get">
                        <input type="text" name="title" placeholder="Tìm kiếm" class="mr-2 txtSearch"/>
                        <button class="text-white" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                @*<ul class="float-right float-sm-none list-a-plr-10 list-a-plr-sm-5 list-a-ptb-15 list-a-ptb-sm-5">
                            <li><a class="pl-0 pl-sm-10" href="#"><i class="fa fa-facebook-official"></i></a></li>

                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        </ul>*@
            </div>
        </div>
        <!-- container -->
    </div>

    <div class="container back-white">
        <a class="logo" href="/">
            <img src="~/Content/web/images/logo-black.png" alt="Logo">
        </a>


        <a class="menu-nav-icon" data-menu="#main-menu" href="#">
            <i class="ion-navicon"></i>
        </a>

        @Html.Partial("NavbarHome")
        <div class="clearfix"></div>
    </div><!-- container -->
</header>
<div class="container body-content">
    @RenderBody()
</div>
@Html.Partial("FooterHome")
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3"></script>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
<script src="~/Content/web/tether.min.js"></script>
<script src="~/Content/web/scripts.js"></script>
<script src="~/Content/photoswipe/init.js"></script>
@RenderSection("scripts", false)
</body>
</html>